{% extends 'market/mosl_base.html' %}
{% load static %}
{% block title %} mosl-index {% endblock title %}

{% block main %}

<h1>Chart.js - Financial chart</h1>
		<p>See the <a href="https://github.com/chartjs/chartjs-chart-financial/tree/master/docs">source for this example</a>, <a href="https://github.com/chartjs/chartjs-chart-financial">README</a>, and <a href="https://www.chartjs.org/docs/">Chart.js docs</a> for more details.</p>
		<h2>Sample Chart</h2>
		<div style="width:1000px">
			<canvas id="chart"></canvas>
		</div>
		<div>
			Bar Type:
			<select id="type">
				<option value="candlestick" selected>Candlestick</option>
				<option value="ohlc">OHLC</option>
			</select>
			Scale Type:
			<select id="scale-type">
				<option value="linear" selected>Linear</option>
				<option value="logarithmic">Logarithmic</option>
			</select>
			Color Scheme:
			<select id="color-scheme">
				<option value="muted" selected>Muted</option>
				<option value="neon">Neon</option>
			</select>
			Border:
			<select id="border">
				<option value="true" selected>Yes</option>
				<option value="false">No</option>
			</select>
			Mixed:
			<select id="mixed">
				<option value="true">Yes</option>
				<option value="false" selected>No</option>
			</select>
			<button id="update">Update</button>
			<button id="randomizeData">Randomize Data</button>
		</div>

{% endblock main %}

{% block chart %}
<script>
    var xValues = ["Loans", "France", "Spain", "USA", "Argentina"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    new Chart("myChart2", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
    </script>

    {% endblock chart %}