{% extends 'frenchise/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block dash-page %}
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
          <h6 class="mb-4">Bordered Table</h6>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">1</th>
                      <td>John</td>
                      <td>Doe</td>
                      <td>jhon@email.com</td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>mark@email.com</td>
                  </tr>
                  <tr>
                      <th scope="row">3</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>jacob@email.com</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>


                                                      <!-- Table -->
                                                    
                                                    
                                                      <div class="card-body">
                                                        <i class="fa fa-pen fa-xs edit"></i>
                                                        <table id="mytable" class="table">
                                                            <thead>
                                                              <tr>
                                                                <th><input type="checkbox" id="checkall" /></th>
                                                                <th>Name</th>
                                                                
                                                                <th>Email</th>
                                                                <th>Username</th>
                                                                <th style="width:25%">Tottal Sales</th>
                                                                <th>Insurance</th>
                                                                <th>Loan</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for ad in e_data %}
                                                              <tr>
                                                                <td><input type="checkbox" class="checkthis" /></td>
                                                                <td>{{ad.employee_id}}</td>
                                                                
                                                                <td>{{ad.email}}</td>
                                                                <td>{{ad.username}}</td>
                                                                <td>{{ad.total}}</td>
                                                                <td>{{ad.insurance}}</td>
                                                                <td>{{ad.loan}}</td>
                                                                {% comment %} <td> {% endcomment %}
                                                                    {% comment %} <div class="progress">
                                                                        <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="red progress-bar">
                                                                        <span>60%</span>
                                                                       </div>
                                                                    </div>
                                                                </td>
                                                                <td><span class="label label-info">Pending</span></td> {% endcomment %}
                                                              </tr>
                                                              {% endfor %}
                                                              
                                            
                                                            </tbody>
                                                        </table>
                                                   
                                                        </div>
                                            </div>
                                        </div>
               

    </div>
</div>  

{% endblock dash-page %}